@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

html,
body {
  font-family: Pretendard;
}

.flatpickr-current-month {
  flex-direction: row-reverse;
}
.flatpickr-current-month .numInputWrapper {
  padding: 0 30px 0 0;
  width: 110px;
}
.flatpickr-current-month .numInputWrapper:after {
  content: '년';
  display: block;
  position: absolute;
  top: 3px;
  right: 18px;
  font-size: 1.5625rem;
  font-weight: 700;
}
.navbar-vertical .dropdown-indicator .dropdown-indicator-icon-wrapper {
  margin-right: 6px;
}
.main nav.navbar.navbar-vertical .nav-item {
  margin-top: 8px;
}
.main nav.navbar.navbar-vertical .nav-item .nav-link .nav-link-text {
  font-size: 15px;
  font-weight: 500;
}

.btn {
  white-space: noWrap;
}
.table {
  font-size: 15px;
}
.table > :not(caption) > * > * {
  vertical-align: middle;
}
.swal2-title {
  margin-bottom: 8px;
  padding: 0;
  font-size: 16px;
}
.swal2-popup {
  width: 320px;
  padding: 36px 24px;
  font-family: Pretendard;
}
.swal2-confirm {
  min-width: 100px;
  margin: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 1;
}
.table-responsive .table {
  white-space: noWrap;
}

.progress {
  --phoenix-progress-height: 15px;
  &-bar {
    line-height: 1;
  }
}
.nav-underline .nav-link {
  font-size: 14px;
}
.dz-message-text {
  font-size: 14px;
}
.theme-wizard .nav-item .nav-link.done .nav-item-circle {
  background-color: #007899 !important;
  color: #fff;
  border-color: #007899;
}
.theme-wizard
  .nav-item:not(.theme-wizard .nav-item:last-child)
  .nav-link.complete:before {
  background-color: #007899 !important;
}
.theme-wizard .nav-item .nav-link.done {
  color: var(--phoenix-tertiary-color);
}

.one {
  &-title {
    h2 {
      font-size: 24px;
    }
    margin-bottom: 20px;
  }
  &-contents {
    &-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 24px 0 0 0;
      &-start,
      &-end {
        display: flex;
        gap: 16px;
      }
      .btn {
        min-width: 200px;
      }
    }
  }
  &-form {
    form > .row,
    > .row {
      margin-top: -16px;
    }
    .form-label {
      padding: 24px 0 8px 0;
      font-size: 14px;
    }
  }
}
